body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font {
  font-family: "Almarai", 
  sans-serif font-size=20;
}

 /* شكل المربع */
.rectangle {
    height: 600px;
    border-radius: 15px;
    background-color: aqua;
    box-shadow: 1px 4px 4px 1px rgba(85,85 ,85,0.25);
}

.color-body {
    height: 100%;
    background-color: rgb(217, 244, 250);

}

.btn-style{
    width: 120px;
    border-radius: 8px ;
    color:"wight";
    background-color: blue;
}
  

.img-avatar{
    width: 60px;
    height: 60px;
    border-radius: 50% ;
}

